<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="row p-0 m-0">

        <!-- Canvas -->
        <div class="col-sm-10 p-0">
            <div id='canvas'></div>
            <div class='loader' id='loader'>
                <div class='loader-text' id='loaderInfo'>Loading...</div>
                <div class='loader-spinner'></div>
            </div>
        </div>

        <!-- Control Panel -->
        <div class='col-sm-2 p-2 panel'>

            <!-- Mouse Guide Section -->
            <div class='container px-0 py-0'>
                <div class='title px-3 py-2'>

                    <span>Mouse Guide</span>
                    <a data-toggle="collapse" href="#mouseGuideCollapse" role="button" aria-expanded="false"
                        aria-controls="mouseGuideCollapse">
                        <i id='collapseIcon' class="fa fa-plus-square-o" style="color:white"></i>
                    </a>
                </div>

                <div class="collapse" id="mouseGuideCollapse" style="color:black">
                    &#128433; MLB: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROTATE<br />
                    &#128433; MRB: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAN<br />
                    &#128433; MMB: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZOOM <br />
                    &#128433; MLB+Shift: &nbsp;&nbsp;SELECT<br />
                    &#128433; Drag+Alt: &nbsp;&nbsp;&nbsp;&nbsp;SELECT AREA <br />
                    &#128433; MLB+Ctrl: &nbsp;&nbsp;&nbsp;&nbsp;MOVE<br />
                    <button type="button" id='homeBtn' class="btn btn-primary btn-sm col-12 mt-2 mb-2">Home
                        View</button>
                </div>
            </div>

            <!-- AI Tag Section -->
            <div class='container px-0 pt-3' style='background-color:white;'>

                <div class='title px-3 py-2 mb-3'>AI Tags</div>

                <span class='mx-2' style='color:black; font-size: 20px;'>Display Markers</span>
                <label class="switch mt-1">
                    <input type="checkbox" id='displayMarkerCheckBox' checked>
                    <span class="slider round"></span>
                </label>



                <div class="form-group mt-2" id='aiTagDiv' style="color:black;">
                    <!-- AI Tags Here -->
                </div><br />

            </div>


            <!-- User Tag Section -->
            <div class='container px-0 pt-3' style='background-color:white ;'>
                <div class='title px-3 py-2'>User Tags</div>

                <div class="form-group mt-2" id='userTagDiv' style="color:black;">
                    <!-- User Tags Here -->
                </div><br />
            </div>


            <!-- Buttons -->
            <div class="container px-0 pt-3">

                <button type="button" class="btn btn-info col-12 mt-3 btn-sm" data-toggle="modal"
                    data-target="#categoryModal" data-whatever="@mdo" id='addBtn'>
                    Create New Tag
                </button>

                <button type='button' class='btn btn-success mt-2 col-12' data-toggle="modal"
                    data-target="#assignTagModal1" data-whatever="@mdo" id="assignBtn">
                    Assign Tag
                </button>

                <button type='button' class='btn btn-success mt-2 col-12' data-toggle="modal"
                    data-target="#removeTagModal1" data-whatever="@mdo" id="removeBtn">
                    Remove Tag
                </button>

                <button type='button' class='btn btn-success mt-2 col-12' id="extractBtn">
                    Extract JSON
                </button>

            </div>

        </div>


        <div id="description">
            <div class="container">
                <div class="row">
                    <span id="description-content"></span><br />
                </div>
            </div>
        </div>

        <!--Modal: Image Blow Up-->
        <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive z-depth-1-half">
                            <img id='blowup' style="width:100%" />
                            <!-- </div> -->

                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4" id='modalImageName'></span>
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Image Blow Up-->
        </div>

        <!-- modal for Create New Tag -->
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
            aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="title py-2 px-4" style="color:white">
                        Create New Tag
                    </div><br />

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label"
                                    style='font-size: 20px;'>Category:</label>
                                <input type="text" class="form-control" id="newCategory" maxlength="18">
                            </div>
                        </form>
                    </div><br />

                    <div class='row'>
                        <button type="button" class="btn btn-primary col-4 offset-1" id='addCategoryBtn'>
                            Add
                        </button>
                        <button type="button" class="btn btn-primary col-4 offset-1" data-dismiss="modal">
                            Cancel
                        </button>
                    </div><br />

                </div>
            </div>

        </div>


        <!-- 1st modal for Assign Tag -->
        <div class="modal fade" id="assignTagModal1" tabindex="-1" role="dialog" aria-labelledby="assignTagModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="title py-2 px-4" style="color:white">
                        Assign Tag
                    </div><br />

                    <div class="modal-body pt-4">
                        <button type="button" class="btn btn-primary col-8 offset-2" data-toggle="modal"
                            id='useCurrentSelectionBtn'>
                            Use Current Selection
                        </button>

                        <button type="button" class="btn btn-primary col-8 offset-2 mt-4 mb-4" data-dismiss="modal">
                            Return to Viewer to Make Selection
                        </button>
                    </div><br>
                </div>
            </div>
        </div>

        <!-- 2nd modal for Assign Tag  -->
        <div class="modal fade" id="assignTagModal2" tabindex="-1" role="dialog" aria-labelledby="assignTagModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="title py-2 px-4" style="color:white">
                        Assign Tag
                    </div>

                    <div class="modal-body pt-4">
                        <span style="font-size: 22px; justify-content: center;display: flex;">Select tags to apply to
                            selected
                            images.</span><br>

                        <div id='assignUserTagDiv'>
                            <!-- Checkboxes Created Here -->
                        </div><br />

                        <button type="button" class="btn btn-primary col-8 offset-2" id='assignTagBtn'>Assign
                            Tag</button>
                    </div><br>
                </div>
            </div>
        </div>


        <!-- 1st modal for Remove Tag -->
        <div class="modal fade" id="removeTagModal1" tabindex="-1" role="dialog" aria-labelledby="assignTagModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="title py-2 px-4" style="color:white">
                        Remove Tag
                    </div><br />

                    <div class="modal-body pt-4">
                        <button type="button" class="btn btn-primary col-8 offset-2" data-toggle="modal"
                            id='useCurrentSelectionForRemoveBtn'>
                            Use Current Selection
                        </button>

                        <button type="button" class="btn btn-primary col-8 offset-2 mt-4 mb-4" data-dismiss="modal">
                            Return to Viewer to Make Selection
                        </button>
                    </div><br>
                </div>
            </div>
        </div>

        <!-- 2nd modal for Remove Tag  -->
        <div class="modal fade" id="removeTagModal2" tabindex="-1" role="dialog" aria-labelledby="removeTagModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="title py-2 px-4" style="color:white">
                        Remove Tag
                    </div>

                    <div class="modal-body pt-4">
                        <span style="font-size: 22px; justify-content: center;display: flex;">Select tags to remove from
                            selected
                            images.</span><br>

                        <div id='removeUserTagDiv'>
                            <!-- Checkboxes Created Here -->
                        </div><br />

                        <button type="button" class="btn btn-primary col-8 offset-2" id='removeTagBtn'>Remove
                            Tag(s)</button>
                    </div><br>
                </div>
            </div>
        </div>

        <input type='text' value='<%= data %>' id='numOfFiles' hidden />


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
        <script>
            var print = s => { }// console.log.bind(console, '*<3uj: ')
        </script>

        <script type="module" src="js/main.js"></script>
</body>

</html>